@typeparam TEntity
@typeparam TId
@typeparam TRequest

@inject IJSRuntime JS
@inject IStringLocalizer<SharedResource> L

<style>
    .mud-table-container {
        overflow: auto;
    }
</style>

<ErrorBoundary>
    <ChildContent>

        @if (_canSearch && (Context.AdvancedSearchEnabled || AdvancedSearchContent is not null))
        {
            <MudExpansionPanel @bind-IsExpanded="_advancedSearchExpanded"
                Style="padding:10px!important; margin-bottom:10px!important;border-radius: var(--mud-default-borderradius) !important;"
                Class="mud-elevation-25" Text="@L["Advanced Search"]">
                <MudTextField @bind-Value="SearchString" Immediate="true"
                    Placeholder="@($"{L["Search for"]} {Context.EntityNamePlural}")" Adornment="Adornment.Start"
                    AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                    Style="flex:none!important;margin:0px!important" TextChanged="OnSearchStringChanged">
                </MudTextField>
                @if (Context.AdvancedSearchEnabled)
                {
                    <div style="margin-top:10px!important">
                        <MudCheckBox Label="All Columns" T="bool" Checked="Context.AllColumnsChecked"
                            CheckedChanged="Context.AllColumnsCheckChanged"></MudCheckBox>
                        @foreach (var field in Context.Fields)
                        {
                            <MudCheckBox @bind-Checked="@field.CheckedForSearch" Label="@(field.DisplayName)"></MudCheckBox>
                        }
                    </div>
                }
                @AdvancedSearchContent

            </MudExpansionPanel>
        }

@*                <FshTable @ref="_table" Elevation="25" ServerData="@ServerReloadFunc" Items="@_entityList" Filter="LocalSearch"
            Loading="@Loading" LoadingProgressColor="@Color.Secondary" ChildRowContent="@ChildRowContent" SelectedItemChanged="OnSelectedItemChanged" T="TEntity">
*@

        <FshTable @ref="_table" Elevation="25" ServerData="@ServerReloadFunc" Items="@_entityList" Filter="LocalSearch"
            Loading="@Loading" LoadingProgressColor="@Color.Secondary" ChildRowContent="@ChildRowContent">

            <ToolBarContent>
                <div class="justify-center mud-text-align-center">
                    @if (_canCreate)
                    {
                        <MudButton DisableElevation Variant="Variant.Filled" Color="Color.Primary"
                            OnClick="(() => InvokeModal())" StartIcon="@Icons.Material.Filled.Add"
                            IconColor="Color.Surface">@L["Create"]</MudButton>
                    }
                    @if (_canExport)
                    {
                        <MudButton DisableElevation Variant="Variant.Filled" Color="Color.Tertiary"
                            OnClick="(() => ExportAsync())" StartIcon="@Icons.Material.Filled.ImportExport"
                            Style="margin-left: 5px;" IconColor="Color.Surface">@L["Export"]</MudButton>
                    }
                    <MudButton DisableElevation Variant="Variant.Filled" OnClick="ReloadDataAsync"
                        StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary"
                        Style="margin-left: 5px;">@L["Reload"]</MudButton>
                </div>
                <MudSpacer />
                @if (_canSearch && !_advancedSearchExpanded)
                {
                    <MudTextField @bind-Value="SearchString" Immediate="true" FullWidth="false"
                        Placeholder="@($"{L["Search for"]} {Context.EntityNamePlural}")" Adornment="Adornment.End"
                        AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 mb-3"
                        TextChanged="OnSearchStringChanged">
                    </MudTextField>
                }
            </ToolBarContent>

            <HeaderContent>
                <MudTh Style="text-align:left; max-width:50px">@L["Actions"]</MudTh>

                @if (Context.Fields is not null)
                {

                    foreach (var field in Context.Fields)
                    {
                        <MudTh>
                            @if (Context.IsClientContext)
                            {
                                <MudTableSortLabel SortBy="@field.ValueFunc">@field.DisplayName</MudTableSortLabel>
                            }
                            else
                            {
                                <MudTableSortLabel T="TEntity" SortLabel="@field.SortLabel">@field.DisplayName</MudTableSortLabel>
                            }
                        </MudTh>
                    }
                }
            </HeaderContent>



            <RowTemplate>

                <MudTd DataLabel="Actions" Style="text-align:left; max-width:100px">
@*                            @if (CanUpdateEntity(context) & !HasMandant_0_Query(context))
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Title="@L["Edit"]" aria-label="@L["Edit"]" @onclick="@(() => InvokeModal(context))"></MudIconButton>
                                increaseActionCounter(1);                    
                            }
*@

                    @if (HasMandant_0_Query(context))
                    {
                        if (getMandantId(context) > 0)
                        {
                            if (CanUpdateEntity(context))
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Title="@L["Edit"]" aria-label="@L["Edit"]" @onclick="@(() => InvokeModal(context))"></MudIconButton>
                                increaseActionCounter(1);
                            }
                            if (CanDeleteEntity(context))
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Title="@L["Delete"]" aria-label="@L["Delete"]" @onclick="@(() => Delete(context))"></MudIconButton>
                                increaseActionCounter(1);                    
                            }
                            if (ExtraActions is not null)
                            {
                                @ExtraActions(context)
                                increaseActionCounter(1);
                            }

                        }
                    }
                    else
                    {
                            if (CanUpdateEntity(context))
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Title="@L["Edit"]" aria-label="@L["Edit"]" @onclick="@(() => InvokeModal(context))"></MudIconButton>
                                increaseActionCounter(1);
                            }
                            if (CanDeleteEntity(context))
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Title="@L["Delete"]" aria-label="@L["Delete"]" @onclick="@(() => Delete(context))"></MudIconButton>
                                increaseActionCounter(1);                    
                            }
                            if (ExtraActions is not null)
                            {
                                @ExtraActions(context)
                                increaseActionCounter(1);
                            }

                    }

                    @if (ActionCounter == 0)
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.DoNotTouch" Title="@L["No Allowed Actions"]" aria-label="@L["No Allowed Actions"]"></MudIconButton>

@*                        <MudIconButton Icon="@Icons.Material.Filled.DoNotTouch" Title="@L["No Allowed Actions"]" aria-label="@L["No Allowed Actions"]" @onclick="@(() => Delete(context))"></MudIconButton>
*@
                    }

                    @{
                        ActionCounter = 0;
                    }



@*                    @if (ActionsContent is not null)
                    {
                        @ActionsContent(context)
                    }
                    else if (HasActions)
                    {
                        <MudMenu Label="@L["Actions"]" Variant="Variant.Filled" DisableElevation="true"
                            EndIcon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary" Direction="Direction.Left"
                            OffsetX="true">
                            @if (CanUpdateEntity(context))
                            {
                                <MudMenuItem Icon="@Icons.Filled.Edit" title="@L["Edit"]" @onclick="@(() => InvokeModal(context))">@L["Edit"]</MudMenuItem>
                            }
                            @if (CanDeleteEntity(context))
                            {
                                <MudMenuItem Icon="@Icons.Filled.Delete" title="@L["Delete"]" Style="color:red!important" @onclick="@(() => Delete(context))">@L["Delete"]</MudMenuItem>
                            }
                            @if (ExtraActions is not null)
                            {
                                @ExtraActions(context)
                            }
                        </MudMenu>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Filled" DisableElevation="true"
                            StartIcon="@Icons.Material.Filled.DoNotTouch" IconColor="Color.Secondary" Size="Size.Small"
                        Color="Color.Surface">
                            @L["No Allowed Actions"]
                        </MudButton>
                    }
*@
                </MudTd>



@*                <MudTd DataLabel="Actions" Style="text-align: right">
                    @if (ActionsContent is not null)
                    {
                        @ActionsContent(context)
                    }
                    else if (HasActions)
                    {
                        <MudMenu Label="@L["Actions"]" Variant="Variant.Filled" DisableElevation="true"
                            EndIcon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary" Direction="Direction.Left"
                            OffsetX="true">
                            @if (CanUpdateEntity(context))
                            {
                                <MudMenuItem Icon="@Icons.Filled.Edit" title="@L["Edit"]" @onclick="@(() => InvokeModal(context))">@L["Edit"]</MudMenuItem>
                            }
                            @if (CanDeleteEntity(context))
                            {
                                <MudMenuItem Icon="@Icons.Filled.Delete" title="@L["Delete"]" Style="color:red!important" @onclick="@(() => Delete(context))">@L["Delete"]</MudMenuItem>
                            }
                            @if (ExtraActions is not null)
                            {
                                @ExtraActions(context)
                            }
                        </MudMenu>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Filled" DisableElevation="true"
                            StartIcon="@Icons.Material.Filled.DoNotTouch" IconColor="Color.Secondary" Size="Size.Small"
                        Color="Color.Surface">
                            @L["No Allowed Actions"]
                        </MudButton>
                    }

                </MudTd>

*@
                @foreach (var field in Context.Fields)
                {
                    <MudTd DataLabel="@field.DisplayName">
                        @if (field.Template is not null)
                        {
                            @field.Template(context)
                        }
                        else if (field.Type == typeof(bool))
                        {
                            <MudCheckBox Checked="@field.ValueFunc(context)" ReadOnly Color="Color.Secondary"></MudCheckBox>
                        }
                        else
                        {
                            <MudHighlighter Text="@field.ValueFunc(context)?.ToString()" HighlightedText="@SearchString" />
                        }
                    </MudTd>
                }
            </RowTemplate>

            <PagerContent>
                <TablePager />
            </PagerContent>

        </FshTable>

    </ChildContent>
    <ErrorContent>
        <FshCustomError />
    </ErrorContent>
</ErrorBoundary>